/* <!-- 💕 به نام خداند روزی ده رهنمای 💕 -->
 <!-- 💕 Thanks For Merciful God 💕 -->
  <!-- 💕 كل ما أملكه يأتي من الله 💕 --> */
@font-face {
    font-family: "Vazir-Bold";
    src: url('../fonts/Vazir-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Vazir-Black";
    src: url('../fonts/Vazir-Black.ttf') format('truetype');
}
@font-face {
    font-family: "Vazir-Regular";
    src: url('../fonts/Vazir-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Vazir-Light";
    src: url('../fonts/Vazir-Light.ttf') format('truetype');
}
@font-face {
    font-family: "Vazir-Medium";
    src: url('../fonts/Vazir-Medium.ttf') format('truetype');
}