/* <!-- 💕 به نام خداند روزی ده رهنمای 💕 -->
<!-- 💕 Thanks For Merciful God 💕 -->
<!-- 💕 كل ما أملكه يأتي من الله 💕 -->  */
:root
{
    --font-vazir-black : "Vazir-Black";
    --font-vazir-bold : "Vazir-Bold";
    --font-vazir-regular : "Vazir-Regular";
    --font-vazir-light : "Vazir-Light";
    --font-vazir-medium : "Vazir-Medium";
    --main-color:#7B4BFA;
    --primary-color: rgb(17 24 39 / 1);
    --secondary-color: rgb(55 65 81 / 1);
    --tertiary-color:rgb(100 116 139 / 1);
    --app-bg:#F3F4F6;
    --section-bg:#FFFFFF;
    --course-section-bg: #F3F4F6;
    --white-color:#ffffff;
}
.dark-mode
{
    --app-bg:#111827;
    --section-bg:#242A38;
    --primary-color: rgb(255 255 255 / 1);
    --secondary-color: rgb(156 163 175 / 1);
    --tertiary-color:rgb(100 116 139 / 1);
}
.nav
{
    background-color: var(--section-bg);
    padding: 3.8rem 10rem;
    font-size: 2rem;
}
.nav a
{
    color: var(--primary-color) !important;
}
.nav path
{
    stroke: var(--primary-color);
    fill: var(--primary-color)
}
.hamburger-menu,
.hamburger-menu-line::after,
.hamburger-menu-line::before
{
    background-color: var(--primary-color);
}
.hamburger-menu--toggle
{
    background-color: transparent !important;
}
.main
{
    margin: 12rem 0 6rem 0;
}
.course-content
{
    align-items: center;
    justify-content: space-between;
}
.course-content div
{
    align-items: center;
}
.course-content h1
{
    font-size: 3rem;
    font-family: var(--font-vazir-bold);
    margin-right: 1rem;
    color: var(--primary-color);
}
.category-number
{
    font-size: 2.5rem;
    color: var(--secondary-color);
    font-family: var(--font-vazir-bold);
}
.mobile-category__item--active
{
    color: var(--main-color);
}
.mobile-category__item--active svg
{
    transform: rotate(-90deg);
}
.mobile-fast-links__item a
{
    color: var(--secondary-color);
}
.mobile-category__list
{
    margin: 2rem 0;
}
.mobile-category__item
{
    cursor: pointer;
    margin: 2rem 0;
    flex-direction: column;
}
.mobile-category__item div:nth-child(1)
{
    justify-content: space-between;
}
.mobile-category__submenu
{
    background-color: #F5F5F5;
    font-size: 1.25rem;
    color: var(--secondary-color);
    font-family: var(--font-vazir-regular);
    filter: blur(2px);
    transition: all .3s ease;
    height: 0;
    overflow: hidden;
}
.mobile-category__item--active .mobile-category__submenu
{
    padding: 0.5rem;
    filter: blur(0);
    height: auto;
}
.mobile-category__submenu-item
{
    margin-top: 0.75rem;
}
.shoppingcard-product
{
    border-radius: 1.5rem;
    overflow: hidden;
}
.shoppingcard-product__title
{
    font-family: var(--font-vazir-black);
    align-items: center;
    color: var(--white-color);
    background-color: var(--main-color);
    padding: 2rem;
    font-size: 2rem;
}
.shoppingcard-product__title h2
{
    margin:0.5rem 1rem 0 0;
}
.shoppingcard-product__list-item
{
    background-color: var(--section-bg);
    padding: 1.5rem 2.5rem;
    align-items: center;
    border-top: .1rem solid var(--primary-color);
    align-items: center;
    justify-content: space-between;
}
.shoppingcard-product__list-item:first-child
{
    border: none;
}
.course-img
{
    border-radius: 1rem;
    width: 16rem;
    height: 100%;
}
.course-details
{
    font-size: 1.8rem;
    color: var(--primary-color);
    margin: 2rem 2rem 0 0;
    font-family: var(--font-vazir-medium);
}
.course-details p
{   
    margin-top: .5rem;
    color: var(--secondary-color);
    font-family: var(--font-vazir-regular);
    font-size: 1.6rem;
}
.course-price
{
    font-family: var(--font-vazir-regular);
}
.old-price
{
    color: var(--tertiary-color);
    margin-bottom: -1rem;
}
.new-price 
{
    font-size: 2rem;
    text-align: center;
    color: var(--main-color);
    font-family: var(--font-vazir-bold);
}
.new-price span
{
    margin-right: .3rem;
}
.course-left-details
{
    align-items: center;
    justify-content: space-between;
    width: 18rem ;
}
.delete-icon
{
    fill:var(--secondary-color);
    cursor: pointer;
}
.payment__title
{
    border-radius: 1.5rem;

}
.payment__title
{
    background-color: var(--main-color);
    align-items: center;
    padding: 2rem ;
    font-size: 2rem;
    color: var(--white-color);
    font-family: var(--font-vazir-black);
}
.payment__title h2
{
    margin: 0.5rem 1rem 0 0;
}
.payment-details
{
    padding: 2.5rem;
    font-size: 2rem;
    font-family: var(--font-vazir-medium);
    background-color: var(--section-bg);
}
.payment-details__price,.payment-details__discount
{
    color: var(--secondary-color);
    justify-content: space-between;
}
.payment-details__discount
{
    color: red;
    margin-top: 1.5rem;
}