/* <!-- 💕 به نام خداند روزی ده رهنمای 💕 -->
<!-- 💕 Thanks For Merciful God 💕 -->
<!-- 💕 كل ما أملكه يأتي من الله 💕 -->  */
:root
{
    --font-vazir-black : "Vazir-Black";
    --font-vazir-bold : "Vazir-Bold";
    --font-vazir-regular : "Vazir-Regular";
    --font-vazir-light : "Vazir-Light";
    --font-vazir-medium : "Vazir-Medium";
    --main-color:#7B4BFA;
    --primary-color: rgb(17 24 39 / 1);
    --secondary-color: rgb(55 65 81 / 1);
    --tertiary-color:rgb(100 116 139 / 1);
    --app-bg:#F3F4F6;
    --section-bg:#FFFFFF;
    --course-section-bg: #F3F4F6;
    --white-color:#ffffff;
}
.dark-mode
{
    --app-bg:#111827;
    --section-bg:#242A38;
    --primary-color: rgb(255 255 255 / 1);
    --secondary-color: rgb(156 163 175 / 1);
    --tertiary-color:rgb(100 116 139 / 1);
}
.nav
{
    background-color: var(--section-bg);
    padding: 3.8rem 10rem;
    font-size: 2rem;
}
.nav a
{
    color: var(--primary-color) !important;
}
.nav path
{
    stroke: var(--primary-color);
    fill: var(--primary-color)
}
.hamburger-menu,
.hamburger-menu-line::after,
.hamburger-menu-line::before
{
    background-color: var(--primary-color);
}
.hamburger-menu--toggle
{
    background-color: transparent !important;
}
.main
{
    margin: 15rem 0 6rem 0;
}
.course-content
{
    align-items: center;
    justify-content: space-between;
}
.course-content div
{
    align-items: center;
}
.course-content h1
{
    font-size: 3rem;
    font-family: var(--font-vazir-bold);
    margin-right: 1rem;
    color: var(--primary-color);
}
.category-number
{
    font-size: 2.5rem;
    color: var(--secondary-color);
    font-family: var(--font-vazir-bold);
}
.mobile-category__item--active
{
    color: var(--main-color);
}
.mobile-category__item--active svg
{
    transform: rotate(-90deg);
}
.mobile-fast-links__item a
{
    color: var(--secondary-color);
}
.mobile-category__list
{
    margin: 2rem 0;
}
.mobile-category__item
{
    cursor: pointer;
    margin: 2rem 0;
    flex-direction: column;
}
.mobile-category__item div:nth-child(1)
{
    justify-content: space-between;
}
.mobile-category__submenu
{
    background-color: var(--app-bg);
    font-size: 1.25rem;
    color: var(--secondary-color);
    font-family: var(--font-vazir-regular);
    filter: blur(2px);
    transition: all .3s ease;
    height: 0;
    overflow: hidden;
}
.mobile-category__item--active .mobile-category__submenu
{
    padding: 0.5rem;
    filter: blur(0);
    height: auto;
}
.mobile-category__submenu-item
{
    margin-top: 0.75rem;
}
.shoppingcard-product
{
    border-radius: 1.5rem;
    overflow: hidden;
}
.shoppingcard-product__title
{
    font-family: var(--font-vazir-black);
    align-items: center;
    color: var(--white-color);
    background-color: var(--main-color);
    padding: 2rem;
    font-size: 2rem;
}
.shoppingcard-product__title h2
{
    margin:0.5rem 1rem 0 0;
}
.shoppingcard-product__list-item
{
    background-color: var(--section-bg);
    padding: 1.5rem 2.5rem;
    align-items: center;
    border-top: .1rem solid var(--primary-color);
    align-items: center;
    justify-content: space-between;
}
.shoppingcard-product__list-item:first-child
{
    border: none;
}
.course-img
{
    border-radius: 1rem;
    width: 16rem;
    height: 100%;
}
.course-details
{
    font-size: 1.8rem;
    color: var(--primary-color);
    margin: 2rem 2rem 0 2rem;
    font-family: var(--font-vazir-medium);
}
.course-details p
{   
    margin-top: .5rem;
    color: var(--secondary-color);
    font-family: var(--font-vazir-regular);
    font-size: 1.6rem;
}
.course-price
{
    font-family: var(--font-vazir-regular);
}
.old-price
{
    color: var(--tertiary-color);
    margin-bottom: -1rem;
}
.new-price 
{
    font-size: 2rem;
    text-align: center;
    color: var(--main-color);
    font-family: var(--font-vazir-bold);
}
.new-price span
{
    margin-right: .3rem;
}
.course-left-details
{
    align-items: center;
    justify-content: space-between;
    width: 18rem ;
}
.delete-icon
{
    fill:var(--secondary-color);
    cursor: pointer;
}
.payment
{
    background-color: var(--section-bg); 
    border-radius: 1.5rem;
    overflow: hidden;
}
.payment__title
{
    background-color: var(--main-color);
    align-items: center;
    padding: 2rem ;
    font-size: 2rem;
    color: var(--white-color);
    font-family: var(--font-vazir-black);
}
.payment__title h2
{
    margin: 0.5rem 1rem 0 0;
}
.payment-details
{
    padding: 2.5rem;
    font-size: 2rem;
    font-family: var(--font-vazir-medium);
    background-color: var(--section-bg);
}
.payment-details__price,.payment-details__discount,.payment-details__value
{
    color: var(--secondary-color);
    justify-content: space-between;
}
.payment-details__discount,.payment-details__value
{
    color: red;
    margin-top: 2rem;
}
.buy-course
{
    border-top: .1rem solid var(--tertiary-color);
    padding: 2.5rem;
    margin:0 2rem 0 2rem;
    padding: 2rem 0 2rem 0;
}
.accept-rules
{
    color: var(--secondary-color);
    font-family: var(--font-vazir-medium);
    
    flex-direction: column;
}
.accept-rules input
{
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    margin-bottom: .85rem;
    cursor: pointer;    
    appearance: none;
    border: 1px solid var(--primary-color);
    border-radius: .5rem;
}
.buy-btn
{
    justify-self: center;
    background-color: var(--main-color);
    color: var(--white-color);
    font-family: var(--font-vazir-bold);
    border-radius: 1.5rem;
    padding: 2rem 3rem;
    width: 90%;
    margin: 2rem auto 0 auto;
    justify-content: center;
    pointer-events: none;
    opacity: 0.6;
}
#checkbox-btn:checked
{
    border: none;
    background-color: #05DF72;
}
#checkbox-btn:checked ~ .buy-btn
{
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}
.accept-rules h3
{
    align-items: center;
}
.accept-rules p
{
    color: rgb(54, 185, 185);
    font-size: 1.2rem;
    font-family: var(--font-vazir-regular);
    margin-right: .5rem;
    cursor: pointer;
}
.discount-code
{
    margin-top: 2rem;
    background-color: var(--section-bg);
    padding: 2rem;
    color: var(--primary-color);
    font-family: var(--font-vazir-bold);
    border-radius: 1.5rem;
    font-size: 1.7rem;
}
.discount-code__entry
{
    position: relative;
}
.discount-code hr
{
    margin: 1.5rem 0 2rem 0;
}
.discount-code__entry input
{
    font-family: var(--font-vazir-bold);
    border-radius: 1rem;
    padding: 1rem;
    height: 7rem;
    width: 100%;
    font-size: 1.6rem;
    border: none;
    outline: none;
    background-color: var(--app-bg);
    color: var(--primary-color);
}
.discount-code__entry a
{
    position: absolute;
    color: var(--white-color);
    padding: 1rem;
    border-radius: 1rem;
    width: 5.5rem;
    height: 4.5rem;
    font-size: 1.3rem;
    line-height:2.5rem;
    top: 0;
    bottom: 0;
    left: 3%;
    margin: auto 0 auto 0;
    vertical-align: middle;
    font-family: var(--font-vazir-regular);
    text-align: center;
    background-color: var(--main-color);
}
.suggestion-courses
{
    margin-top: 2rem;
}
.suggestion-courses__title
{
    position: relative;
    padding: 2rem;
    border-radius: 1.5rem 1.5rem 0 0;
    color: var(--white-color);
    font-family: var(--font-vazir-bold);
    font-size: 2rem;
    background-color: var(--main-color);
}
.suggestion-courses__title h2
{
    margin-right: 1rem;
}
.swiper
{
    width: 100%;
}
.courses-slider
{
    margin-top: 2rem;
}
.swiper-button-next,.swiper-button-prev
{
    border: 1px solid var(--white-color);
    padding: 2rem;
    border-radius: 50%;
    transform: rotate(180deg);
    color: var(--white-color) !important;
    transition: all .3s ease;
}
.swiper-button-next:hover,.swiper-button-prev:hover
{
    border-color: #05DF72;
}
.swiper-button-prev
{
    margin-left: -1rem !important;
}
.slider-btn
{
    position: absolute !important;
    background-color: blue !important;
    left: 7rem;
    top: 3rem;
}